### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
app/.mvn/wrapper/maven-wrapper.jar

### Node ###
node_modules/

### Database files ###
*.db
*.sqlite
*.sqlite3

### Vaadin Generated ###
app/src/main/frontend/generated/

### DrawIo ###
*.bkp

### OS ###
.DS_Store
Thumbs.db
